.buttonsContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.responseContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-height: 300px;
}

.imageContainer {
    flex: 1 1 300px;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: contain;
   }

.textContainer {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.code {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.text {
    font-size: 14px;
    color: #555;
}

.info {
    font-size: 16px;
    color: #888;
}


@media (max-width: 768px) {
    .responseContainer {
        flex-direction: column;
        gap: 15px;
    }

    .imageContainer {
        max-width: 100%;
        height: auto;
    }

    .textContainer {
        width: 100%;
    }
}