.buttonsContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.responseContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
    flex: 0 0 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
   }

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.code {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.text {
    font-size: 14px;
    color: #555;
}

.info {
    font-size: 16px;
    color: #888;
}