.tech {
    width: 50vw;
    padding: 8px 12px;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.developer {
    width: 50vw;
    padding: 8px 12px;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.techHeader {
    width: 50vw;
    font-weight: 600;
    padding: 8px 12px;
    border-bottom: 2px solid #333;
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;

    cursor: pointer;
}

.developerHeader {
    width: 50vw;
    font-weight: 600;
    padding: 8px 12px;
    border-bottom: 2px solid #333;
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;

    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
}

.rowHeader {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
}

.contentWrapper {
    position: relative;
}

.contentWrapper .loading {
    position: absolute;
    inset: 0;
    z-index: 100;

    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: all;

    backdrop-filter: blur(1px);
}