.buttonsContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.editableSpanContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
<<<<<<< HEAD
}
=======
}
>>>>>>> ced41521d007d291d2aa5715e4573fed8a190b38
