.item {
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
}

.item:last-of-type {
    border-bottom: none;
}

.users {
    width: 100%;
    border-collapse: collapse;
}

.buttonsContainer {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 806px;
    margin: 0;
}

.thead {
    background-color: #959393;
    font-weight: bold;
    padding: 8px 12px;
    text-align: center;
}

.nameCol {
    padding: 8px;
    text-align: left;
}

.ageCol {
    text-align: left;
    padding: 8px 12px;
}