* {
    font-family: 'Montserrat', sans-serif;
}

.App {
    --header_height: 60px;
}

.hw {
    max-width: 1280px;
    width: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.hwTitle {

}